<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" id="email">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Password</span>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" id="password">
        </div>
        <button type="button" class="btn btn-primary" onclick="login()">Login</button>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
<script>
    const UserService = require('./services/user.service')
    const userService = new UserService();
    function login(){
         console.log(userService.login(document.getElementById('email'), document.getElementById('password')))
    }
</script>
</html>